<th:block>
    <div class="text-center mb-3">
        <h1>Upload</h1>
    </div>
    <hr class="my-2">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-holder text-center">
                <form class="form-inline" th:action="@{/tube/upload}" method="POST" tH:object="${tubeUploadBindingModel}">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label h3 mb-2" for="title">Title</label>
                            <div class="controls">
                                <input type="text" id="title" placeholder="Title..." th:field="*{title}" class="input-xlarge" required>
                            </div>
                        </div>
                        <br>
                        <div class="control-group">
                            <label class="control-label h3 mb-2" for="author">Author</label>
                            <div class="controls">
                                <input type="text" id="author" th:field="*{author}" placeholder="Author..." class="input-xlarge" required>
                            </div>
                        </div>
                        <br>
                        <div class="control-group">
                            <label class="control-label h3 mb-2" for="youtube-link">Youtube Link</label>
                            <div class="controls">
                                <input type="text" id="youtube-link" th:field="*{youtubeLink}" placeholder="Youtube Link..." class="input-xlarge" required>
                            </div>
                        </div>
                        <br>
                        <div class="control-group">
                            <label class="control-label h3 mb-2" for="description">Description</label>
                            <div class="controls">
                                <textarea id="description" th:field="*{description}" placeholder="Description..." class="input-xlarge" style="resize: none;" cols="75" rows="4"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-info">Upload</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</th:block>